.mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mat-toolbar span {
  margin-right: 20px;
  font-size: 1.1em;
  font-weight: 500;
}

.mat-toolbar a {
  font-size: 1em;
  text-decoration: none;
  transition: color 0.3s;
  color: inherit;
}

.mat-toolbar a[routerLink="/signup"] {
  margin-left: auto;
}

.username {
  margin-left: auto;
}
.mat-toolbar a:hover {
  color: rgba(255, 255, 255, 0.75);
}