<div class="container">
    <h1 class="loginP">Login</h1>

    <form [formGroup]="form" (ngSubmit)="login()">
        <p>Username</p>
        <p>
            <mat-form-field appearance="fill" [class.invalid-field]="username!.invalid && username!.touched">
                <input matInput formControlName="username">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
        </p>

        <p>Password</p>
        <p>
            <mat-form-field appearance="fill">
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
        </p>
        <div class="button-container">
            <button mat-raised-button color="primary" type="login()" [disabled]="form.invalid">Login</button>
        </div>
    </form>
    <p>{{errorText}}</p>
</div>